.elementor-739 .elementor-element.elementor-element-c50838b>.elementor-container {
	max-width: 800px;
}

.elementor-739 .elementor-element.elementor-element-c50838b:not(.elementor-motion-effects-element-type-background),
.elementor-739 .elementor-element.elementor-element-c50838b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("https://raw.githubusercontent.com/dungeonsanddorks/dungeonsanddorks.github.io/main/wp-content/uploads/2023/10/ruin-3746423_1280-2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-739 .elementor-element.elementor-element-c50838b>.elementor-background-overlay {
	background-color: var(--e-global-color-astglobalcolor2);
	opacity: 0;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-739 .elementor-element.elementor-element-c50838b {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 230px 0px 350px 0px;
}

.elementor-739 .elementor-element.elementor-element-453e782 {
	text-align: center;
}

.elementor-739 .elementor-element.elementor-element-453e782 .elementor-heading-title {
	color: var(--e-global-color-astglobalcolor5);
	font-family: "Bangers", Sans-serif;
	letter-spacing: 4px;
}

.elementor-739 .elementor-element.elementor-element-453e782>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-739 .elementor-element.elementor-element-fdc1fb4 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--background-transition: 0.3s;
}

.elementor-739 .elementor-element.elementor-element-6ae3f3e {
	font-family: "Bangers", Sans-serif;
	font-weight: 400;
}

.elementor-739 .elementor-element.elementor-element-01ffef0 {
	padding: 50px 090px 50px 90px;
}

.elementor-739 .elementor-element.elementor-element-e5e7443 {
	text-align: left;
}

.elementor-739 .elementor-element.elementor-element-e5e7443 .elementor-heading-title {
	font-family: "Bangers", Sans-serif;
	letter-spacing: 3px;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks {
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_box {
	text-align: left;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #1E412B;
	background-color: #ffffff;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_box,
.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_content {
	transition: all 200ms ease-in-out;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_content {
	padding: 20px 20px 20px 20px;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_image img {
	height: 300px;
	object-fit: cover;
	object-position: center top;
	transition: all 200ms ease-in-out;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_box img {
	transform: scale(1);
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_box:hover img {
	transform: scale(1.1);
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue-grid-item-category a {
	background-color: #00bcff;
	color: #ffffff;
	padding: 2px 10px 2px 10px;
	border-radius: 5px 5px 5px 5px;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_title {
	font-family: "Bangers", Sans-serif;
	font-size: 32px;
	margin-top: 0px;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_title a {
	color: #000000;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_box:hover .ue_post_blocks_title a {
	color: #195519;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue-grid-item-meta-data {
	color: #707070;
	margin-top: 10px;
	gap: 10px;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue-grid-item-meta-data svg {
	fill: #707070;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_text {
	margin-top: 10px;
	color: #4A4949;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_box:hover .ue_post_blocks_text {
	color: #232323;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_link a {
	padding: 10px 20px 10px 20px;
	border-radius: 30px;
	background-color: #03521C;
	color: #ffffff;
	margin-top: 20px;
}

.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks_link a:hover {
	background-color: #14CF0E;
	color: var(--e-global-color-secondary);
}

.elementor-739 .elementor-element.elementor-element-51af88c:not(.elementor-motion-effects-element-type-background),
.elementor-739 .elementor-element.elementor-element-51af88c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("https://raw.githubusercontent.com/dungeonsanddorks/dungeonsanddorks.github.io/main/wp-content/uploads/2023/10/castle-8066410_1280.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-739 .elementor-element.elementor-element-51af88c>.elementor-background-overlay {
	background-color: var(--e-global-color-astglobalcolor2);
	opacity: 0.6;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-739 .elementor-element.elementor-element-51af88c {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 170px 0px 170px 0px;
}

.elementor-739 .elementor-element.elementor-element-a9a69dd>.elementor-element-populated {
	padding: 0% 0% 0% 50%;
}

.elementor-739 .elementor-element.elementor-element-903dcf2 {
	text-align: left;
}

.elementor-739 .elementor-element.elementor-element-903dcf2 .elementor-heading-title {
	color: var(--e-global-color-astglobalcolor5);
	font-family: "Bangers", Sans-serif;
	letter-spacing: 3px;
}

.elementor-739 .elementor-element.elementor-element-1694eb3 {
	--divider-border-style: solid;
	--divider-color: var(--e-global-color-astglobalcolor0);
	--divider-border-width: 3px;
}

.elementor-739 .elementor-element.elementor-element-1694eb3 .elementor-divider-separator {
	width: 10%;
}

.elementor-739 .elementor-element.elementor-element-1694eb3 .elementor-divider {
	padding-top: 0px;
	padding-bottom: 0px;
}

.elementor-739 .elementor-element.elementor-element-c07d6ad {
	color: #ffffff;
}

.elementor-739 .elementor-element.elementor-element-c07d6ad>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-739 .elementor-element.elementor-element-3ab74e6 .elementor-button .elementor-align-icon-right {
	margin-left: 10px;
}

.elementor-739 .elementor-element.elementor-element-3ab74e6 .elementor-button .elementor-align-icon-left {
	margin-right: 10px;
}

.elementor-739 .elementor-element.elementor-element-3ab74e6>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
	padding: 20px 20px 20px 20px;
}

.elementor-739 .elementor-element.elementor-element-c604d49 {
	padding: 50px 025px 120px 025px;
}

.elementor-bc-flex-widget .elementor-739 .elementor-element.elementor-element-db54639.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-739 .elementor-element.elementor-element-db54639.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-739 .elementor-element.elementor-element-db54639>.elementor-element-populated {
	padding: 10px 60px 0px 0px;
}

.elementor-739 .elementor-element.elementor-element-fb8d721 {
	text-align: left;
}

.elementor-739 .elementor-element.elementor-element-fb8d721 .elementor-heading-title {
	font-family: "Bangers", Sans-serif;
}

.elementor-739 .elementor-element.elementor-element-a271134 {
	--divider-border-style: solid;
	--divider-color: var(--e-global-color-astglobalcolor0);
	--divider-border-width: 3px;
}

.elementor-739 .elementor-element.elementor-element-a271134 .elementor-divider-separator {
	width: 15%;
	margin: 0 auto;
	margin-left: 0;
}

.elementor-739 .elementor-element.elementor-element-a271134 .elementor-divider {
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
}

.elementor-739 .elementor-element.elementor-element-38df08c>.elementor-widget-container {
	padding: 17px 0px 0px 0px;
}

.elementor-739 .elementor-element.elementor-element-7858d8e .elementor-button .elementor-align-icon-right {
	margin-left: 10px;
}

.elementor-739 .elementor-element.elementor-element-7858d8e .elementor-button .elementor-align-icon-left {
	margin-right: 10px;
}

.elementor-739 .elementor-element.elementor-element-7858d8e>.elementor-widget-container {
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-739 .elementor-element.elementor-element-b7c6863 img {
	width: 100%;
	max-width: 500%;
	height: 500px;
	object-fit: cover;
	object-position: center center;
	filter: brightness(103%) contrast(95%) saturate(110%) blur(0px) hue-rotate(346deg);
	border-radius: 4px 4px 4px 4px;
}

.elementor-739 .elementor-element.elementor-element-b7c6863>.elementor-widget-container {
	border-radius: 4px 4px 4px 4px;
}

.elementor-739 .elementor-element.elementor-element-dc7d86f img {
	width: 100%;
	height: 500px;
	object-fit: cover;
	object-position: center right;
	filter: brightness(103%) contrast(96%) saturate(134%) blur(0px) hue-rotate(0deg);
	border-radius: 4px 4px 4px 4px;
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-739 .elementor-element.elementor-element-db54639 {
		width: 40%;
	}

	.elementor-739 .elementor-element.elementor-element-0e0426c {
		width: 30%;
	}

	.elementor-739 .elementor-element.elementor-element-3b90556 {
		width: 30%;
	}
}

@media(max-width:1024px) {
	.elementor-739 .elementor-element.elementor-element-c50838b {
		padding: 120px 0px 100px 0px;
	}

	.elementor-739 .elementor-element.elementor-element-01ffef0 {
		padding: 75px 0px 10px 0px;
	}

	.elementor-739 .elementor-element.elementor-element-0aa0836>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks {
		grid-template-columns: repeat(2, 1fr);
	}

	.elementor-739 .elementor-element.elementor-element-51af88c {
		padding: 80px 60px 80px 0px;
	}

	.elementor-739 .elementor-element.elementor-element-c604d49 {
		padding: 70px 0px 70px 0px;
	}

	.elementor-739 .elementor-element.elementor-element-db54639>.elementor-element-populated {
		padding: 0px 20px 0px 25px;
	}

	.elementor-739 .elementor-element.elementor-element-38df08c>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
}

@media(max-width:767px) {
	.elementor-739 .elementor-element.elementor-element-c50838b {
		padding: 120px 0px 60px 0px;
	}

	.elementor-739 .elementor-element.elementor-element-453e782>.elementor-widget-container {
		margin: -10px 0px 0px 0px;
	}

	.elementor-739 .elementor-element.elementor-element-01ffef0 {
		padding: 55px 0px 0px 0px;
	}

	.elementor-739 .elementor-element.elementor-element-e5e7443 {
		text-align: center;
	}

	.elementor-739 .elementor-element.elementor-element-1a69da0 .ue_post_blocks {
		grid-template-columns: repeat(1, 1fr);
	}

	.elementor-739 .elementor-element.elementor-element-51af88c {
		padding: 60px 20px 60px 20px;
	}

	.elementor-739 .elementor-element.elementor-element-903dcf2 {
		text-align: center;
	}

	.elementor-739 .elementor-element.elementor-element-1694eb3 .elementor-divider-separator {
		width: 18%;
		margin: 0 auto;
		margin-center: 0;
	}

	.elementor-739 .elementor-element.elementor-element-1694eb3 .elementor-divider {
		text-align: center;
	}

	.elementor-739 .elementor-element.elementor-element-c07d6ad {
		text-align: center;
	}

	.elementor-739 .elementor-element.elementor-element-c07d6ad>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-739 .elementor-element.elementor-element-c604d49 {
		padding: 60px 0px 78px 0px;
	}

	.elementor-739 .elementor-element.elementor-element-db54639>.elementor-element-populated {
		padding: 0px 20px 50px 20px;
	}

	.elementor-739 .elementor-element.elementor-element-fb8d721 {
		text-align: center;
	}

	.elementor-739 .elementor-element.elementor-element-a271134 .elementor-divider-separator {
		width: 18%;
		margin: 0 auto;
		margin-center: 0;
	}

	.elementor-739 .elementor-element.elementor-element-a271134 .elementor-divider {
		text-align: center;
	}

	.elementor-739 .elementor-element.elementor-element-38df08c {
		text-align: center;
	}

	.elementor-739 .elementor-element.elementor-element-38df08c>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}
}

@media(min-width:1025px) {

	.elementor-739 .elementor-element.elementor-element-c50838b:not(.elementor-motion-effects-element-type-background),
	.elementor-739 .elementor-element.elementor-element-c50838b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: scroll;
	}

	.elementor-739 .elementor-element.elementor-element-51af88c:not(.elementor-motion-effects-element-type-background),
	.elementor-739 .elementor-element.elementor-element-51af88c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-attachment: fixed;
	}
}